<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "mx.com.aperez"
    version   = "1.0.0">

<name>Aplicacion de ejemplo</name>

<description>
A simple PhoneGap Build application.
</description>

<author href="http://aperez.com.mx" email="macphistou2@gmail.com">
Arturo Perez
</author>

</widget>
